/*selector universal*/
* {
    font-family:arial,sans-serif;
    background-color:#f2f2f2;
}
/*selector tag*/
p {
    color:#000000;
    font-size: 16px;
}
/*selector class */
.teks-biru {
    color:#0033cc;
    background-color: #dbe9ff;
    padding: 6px;
}
/*selector id*/
#teks-merah {
    color:#ffffff;
    background-color: :;
}